#{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(./Image/sakshi1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 60px 0 60px;
    margin-top: 55px;
}
.List{
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    color: #ffc233;
}
.Logo{
    cursor: pointer;
    height: 120px;
    width: 120px;
}
.top-button{
    padding: 12px 35px;
    background-color: #ff505f;
    border: none;
    font-weight: 700;
     font-size: 15px;
     font-family: 'Poppins', sans-serif;
     /* line-height: 30px; */
     color: #ffffff;
     cursor: pointer;
}

.hero-section{
        max-width: 1154px;
        margin: 0 auto;
        text-align: center;
        margin-top: 119px;
}
.left-section{
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 114px;
    color: #ffc233;
    margin: 5%;
}
.left-button{
    padding: 10px 25px;
    background-color: #ff505f;
    border: none;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.ImageScroll{
   margin-left: 90%;
}


    



    









